* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    margin-top: 10rem;

}

.container {
    background-color: white;
    width: 30%;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.card {
    width: 100%;

}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 1rem;
}

p {
    font-size: 16px;
    margin-bottom: 1rem;
    text-align: center;
}

.button-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

button:hover {
    background-color: whitesmoke;

}

.yellow-btn {
    background-color: yellow;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    border-radius: 16px;

}

.orange-btn {
    background-color: orangered;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    border-radius: 16px;

}

.blue-btn {
    background-color: skyblue;
    padding: 0.5rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 16px;

}

.purple-btn {
    background-color: purple;
    padding: 0.5rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 16px;

}

.green-btn {
    background-color: green;
    padding: 0.5rem 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 16px;

}

.pink-btn {
    background-color: rgb(240, 130, 148);
    padding: 0.5rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 16px;
}